/* 전체박스 크기 */
.body {
  display: block;
  margin: 50px auto;
  width: 1100px;
}
.menu {
  display: inline-block;
  margin: auto;
  border: 3px solid #333;
  padding: 10px;
}
.h3 {
  margin: 10px;
  justify-content: left;
  align-items: center;
}

.btn {
  height: 50%;
}
