body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  background-color: #f6f5ef;
}
/* 전체 박스 */
.body {
  display: flex;
  position: fixed;
  background-color: #f6f5ef;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
}

/* 제목 */
.title {
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  margin: 0 150px;
}

/* 스타벅스 로고 */
.logo {
  width: 100px;
}

/* nav 내용 */
.content {
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  text-align: center;
  color: #333;
  transition: 1s;
}
.content:hover {
  color: #669900;
  text-decoration: underline;
  font-size: 120%;
}
.signin {
  width: 30%;
  font-size: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.signin:hover {
  color: #669900;
  text-decoration: underline;
  font-size: 90%;
}
