ul {
  margin: 0;
  padding: 0;
}

.header {
  display: block;
  background-color: #f6f5ef;
  left: 0;
  right: 0;
  z-index: 1;
}
.body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  width: 1100px;
  margin: auto;
  background-color: #f6f5ef;
}
.logo {
  position: absolute;
  margin: 10px;
  width: 100px;
}
.main {
  position: absolute;
  top: 60px;
  left: 250px;
  display: flex;
  height: 60px;
  /* justify-content: baseline; */
  /* align-items: baseline; */
}
.link {
  text-decoration: none;
  padding: 10px;
  color: #333;
}
.link:hover {
  text-decoration: underline;
  background-color: aqua;
  color: #669900;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.main > ul {
  display: flex;
  /* height: 60px; */
}
.main > ul > .link {
  padding: 0 30px;
  padding-top: 20px;
  font-size: 12px;
}
.subMenu {
  display: none;
}
.main > ul:hover > .subMenu {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 120px;
  /* background-color: black;
  color: #f6f5ef;
  background-attachment: scroll;
  height: 100px; */
}
