.menu {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
}

.titleName {
  font-size: 18px;
  text-align: left;
  background-color: #f4f4f2;
  padding: 10px;
  padding-left: 20px;
  color: #222;
}

.box {
  display: inline-block;
  margin: 20px 10px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 16px;
  margin: 0;
}
