hr {
  margin: 0;
}
h1 {
  z-index: 1;
}
/* 전체 배경 스타일 */
.body {
  border: 1px solid black;
}

.signIn {
  color: #fff;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
/* 로그인 박스 */
.box {
  background-color: #fff;
  border: 3px solid white;
  box-sizing: border-box;
  margin: 50px auto;
  margin-top: 0;
  width: 600px;
  height: 500px;
}
/* 로그인 글자 */
.title {
  background-color: #fff;
  text-align: center;
  display: block;
  margin: 0;
  padding: 30px 20px;
}
.title > span {
  color: #006633;
}
/* 로그인 ID PW */
.LoginBox {
  margin: 70px 0;
}
.LogIn {
  display: block;
  margin: auto;
  text-align: left;
  padding: 50px;
  border: 1px solid black;
  width: 450px;
  height: 50px;
  margin: 10px auto;
  padding: 0 10px;
}
.LogIn:focus {
  border: 1px solid blue;
}
.btn {
  display: block;
  margin: auto;
  margin-top: 50px;
  border: 1px solid green;
  background-color: green;
  color: #fff;
  font-weight: 900;
  width: 450px;
  height: 50px;
  padding: 0;
}
/* 회원가입 아이디 비밀번호 찾기 */
.Membership {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join {
  display: block;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  width: 33.3%;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
}
